[submodule "MemoryModule"]
	path = MemoryModule
	url = git@github.com:joankaradimov/MemoryModule.git
[submodule "yaml-cpp"]
	path = yaml-cpp
	url = git@github.com:jbeder/yaml-cpp.git
[submodule "StormLib"]
	path = StormLib
	url = git@github.com:ladislav-zezula/StormLib.git
[submodule "LuaJIT"]
	path = LuaJIT
	url = git@github.com:WohlSoft/LuaJIT.git
[submodule "sol2"]
	path = sol2
	url = git@github.com:ThePhD/sol2.git
